In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import sqlite3

db_path = '/content/drive/My Drive/PaddleOCR/testimg/mydb.db'

In [ ]:
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.

In [ ]:
c = conn.cursor() # Connect() 함수의 연결을 사용하는 새로운 Cursor 객체를 만듭니다.

In [ ]:
#- ! 재실행 시 테이블이 존재할 수 있으므로 아래처럼 해당 테이블들을 모두 지워줍니다.
c.execute("DROP TABLE IF EXISTS 자동차번호")

In [ ]:
# platenum이라는 이름의 테이블을 하나 생성합니다. 혹시 이미 생성되었다면 생략합니다. 
c.execute("CREATE TABLE  IF NOT EXISTS  자동차번호 (등록일자 varchar, 차번호 text)")

In [ ]:
data = [('2021-06-01','245우9315'),
             ('2021-06-20','65노0887')]

In [ ]:
c.executemany('INSERT INTO 자동차번호 VALUES (?,?)', data)

In [ ]:
# 방금 인서트한 데이터를 조회해 봅니다.
for row in c.execute('SELECT * FROM 자동차번호'):
  print(row)

('2021-06-01', '245우9315')
('2021-06-20', '65노0887')

In [ ]:
conn.commit()   # commit()은 cursor의 메소드가 아니라 connection의 메소드입니다.

In [ ]:
c.close()      # 먼저 커서를 닫은 후
conn.close()    # DB 연결을 닫아 줍니다.